
<h3>К сожалению, Ваш отчет не принят.</h3>

<p>При подаче отчета обнаружены ошибки:</p>
{% for error in errors %}
<p>{{ error }}</p>
{% endfor %}

<p>Спасибо, что воспользовались нашим сервисом!</p>

