
<h3>Подтверждение принятия отчета</h3>

<p>
    Вы успешно подали отчет в систему отчетности.
</p>
<p>Номер отчета: <code>{{ id }}</code></p>
<p>Дата принятия: <code>{{ date }}</code></p>

<p>Спасибо, что воспользовались нашим сервисом!</p>

